.sidebar {
    background-color: #f0f0f0;
    padding: 20px;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-90%); 
  }
  
  .sidebar.open {
    transform: translateX(0);
  }